aiohttp          ~= 3.4
aiohttp-devtools ~= 0.10
bottle           ~= 0.12
cherrypy         ~= 18.0
django           ~= 2.1
falcon           ~= 1.4
flask            ~= 1.0
hypercorn        ~= 0.3
molten           ~= 0.6
pulsar           ~= 2.0
pyramid          ~= 1.9
quart            ~= 0.6
sanic            ~= 0.8
starlette        ~= 0.3
tornado          ~= 5.1
turbogears2      ~= 2.3
twisted          ~= 18.7
uvicorn          ~= 0.3
vibora           ~= 0.0
weppy            ~= 1.2
werkzeug         ~= 0.14
wheezy.web       ~= 0.1
